In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('GDPlist.csv')
df.head()

       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644

In [3]:
df.shape

(125, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [5]:
# Thang ƒëo t∆∞∆°ng ·ª©ng c·ªßa c√°c thu·ªôc t√≠nh ƒë∆∞·ª£c l∆∞u tr·ªØ
# Country, Continent c√≥ d·∫°ng d·ªØ li·ªáu object d√πng ƒë·ªÉ ph√¢n lo·∫°i v√† ƒë·∫∑t t√™n, thu·ªôc thang ƒëo norminal
# GDP (millions of US$) c√≥ d·∫°ng d·ªØ li·ªáu int64 m√¥ t·∫£ c√°c th√¥ng tin ƒë·∫øm ƒë∆∞·ª£c d·ªÖ d√†ng so s√°nh, thu·ªôc thang ƒëo ratio

In [6]:
# Vi·ªát h√≥a t√™n c√°c c·ªôt trong b·∫£ng d·ªØ li·ªáu: Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)
df.rename(columns={'Country':'N∆∞·ªõc','Continent':'Ch√¢u l·ª•c','GDP (millions of US$)':'GDP (trieu $)'},inplace=True)
df.head()

          N∆∞·ªõc       Ch√¢u l·ª•c  GDP (trieu $)
0  Afghanistan           Asia          18181
1      Albania         Europe          12847
2      Algeria         Africa         190709
3       Angola         Africa         100948
4    Argentina  South America         447644

In [7]:
# Ch√®n th√™m m·ªôt c·ªôt ‚ÄúThanhpho‚Äù v√†o sau c·ªôt ‚ÄúNuoc‚Äù, gi√° tr·ªã ban ƒë·∫ßu l√† gi√° tr·ªã c·ªßa c·ªôt ‚ÄúNuoc‚Äù    df['N∆∞·ªõc']
# c√¢u 1: df.insert(1,'Th√†nh ph·ªë', pd.series('GDP (trieu $)', index=df.index)
df[['Th√†nh ph·ªë']] = df[['N∆∞·ªõc']]

In [8]:
df = df[['N∆∞·ªõc','Th√†nh ph·ªë','Ch√¢u l·ª•c','GDP (trieu $)']]
df.head()

          N∆∞·ªõc    Th√†nh ph·ªë       Ch√¢u l·ª•c  GDP (trieu $)
0  Afghanistan  Afghanistan           Asia          18181
1      Albania      Albania         Europe          12847
2      Algeria      Algeria         Africa         190709
3       Angola       Angola         Africa         100948
4    Argentina    Argentina  South America         447644

In [9]:
df.tail()

           N∆∞·ªõc   Th√†nh ph·ªë       Ch√¢u l·ª•c  GDP (trieu $)
120  Uzbekistan  Uzbekistan           Asia          45353
121   Venezuela   Venezuela  South America         315841
122     Vietnam     Vietnam           Asia         122722
123       Yemen       Yemen         Africa          33675
124      Zambia      Zambia         Africa          19206

In [10]:
# Trong c·ªôt Thanhpho, thay gi√° tr·ªã Vietnam th√†nh Hanoi; L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.
df[['Th√†nh ph·ªë']].value_counts().tolist
df['Th√†nh ph·ªë'].replace('Vietnam','H√† N·ªôi',inplace = True)
df['Th√†nh ph·ªë'].replace('Venezuela','Hu·∫ø',inplace = True)
df['Th√†nh ph·ªë'].replace('Uzbekistan','H·ªì Ch√≠ Minh',inplace = True)

In [11]:
df.tail()

           N∆∞·ªõc    Th√†nh ph·ªë       Ch√¢u l·ª•c  GDP (trieu $)
120  Uzbekistan  H·ªì Ch√≠ Minh           Asia          45353
121   Venezuela          Hu·∫ø  South America         315841
122     Vietnam       H√† N·ªôi           Asia         122722
123       Yemen        Yemen         Africa          33675
124      Zambia       Zambia         Africa          19206

In [12]:
# c√¢u 2: df.query('Th√†nh ph·ªë.str.startswith("V")') # l√†m sao ƒë·ªÉ c√≥ th·ªÉ d√πng Th√†nh Ph·ªë trong tr∆∞·ªùng h·ª£p n√†y

In [13]:
# X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô

In [ ]:
a = df['Th√†nh ph·ªë']

In [25]:
df.query(x('Th√†nh ph·ªë').str.startswith("V"))

ValueError: expr must be a string to be evaluated, <class 'pandas.core.series.Series'> given

In [20]:
a = df.loc[df['Ch√¢u l·ª•c'] == 'Asia'].index

In [21]:
df = df.drop(a)

In [23]:
df.tail()

              N∆∞·ªõc      Th√†nh ph·ªë       Ch√¢u l·ª•c  GDP (trieu $)
118  United States  United States  North America       15094025
119        Uruguay        Uruguay  South America          46872
121      Venezuela            Hu·∫ø  South America         315841
123          Yemen          Yemen         Africa          33675
124         Zambia         Zambia         Africa          19206

In [2]:
df.head()

NameError: name 'df' is not defined