In [27]:
import numpy as np
import pandas as pd

In [39]:
df = pd.read_csv('OnlineRetail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

### 1. Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

In [32]:
df.shape

(541909, 8)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [34]:
# InvoiceNo, StockCode, Description, InvoiceDate, CustomerID, Country là norminal
# Quantity, UnitPrice là ratio

### 2. Trích xuất dữ liệu các cột Description và Quantity lưu vào file OnlineRetail.csv

In [35]:
df1 = df[['Description','Quantity']]

In [36]:
df1.to_csv('OnlineRetail1.csv')

### 3. Trích xuất dữ liệu 1000 dòng đầu tiên lưu vào file OnlineRetail.xlsx

In [37]:
df2 = df.head(1000)

In [38]:
df2.to_excel('OnlineRetail.xlsx')

### 4. Trích xuất các bản ghi có số lượng từ 10 trở lên lưu vào file OnlineRetail.h5

In [41]:
df2 = df.to_hdf('OnlineRetail.h5', 'table')

### 5. Trích xuất dữ liệu các phần tử từ dòng 1000 đến dòng 2000, các cột Quantity, InvoiceDate, UnitPrice lưu vào file OnlineRetail.json

In [46]:
df3 = df.iloc[1000:2001][['Quantity','InvoiceDate','UnitPrice']]
df3

      Quantity      InvoiceDate  UnitPrice
1000         1  12/1/2010 12:43       1.25
1001         1  12/1/2010 12:43       1.25
1002         1  12/1/2010 12:43       1.25
1003         1  12/1/2010 12:43       1.25
1004        12  12/1/2010 12:43       0.29
...        ...              ...        ...
1996         1  12/1/2010 14:34       2.95
1997         3  12/1/2010 14:34       1.65
1998         1  12/1/2010 14:34       4.95
1999         1  12/1/2010 14:34       2.95
2000         2  12/1/2010 14:34       1.25

[1001 rows x 3 columns]

In [47]:
df3.to_json('OnlineRetail1.json',orient='columns')

### 6.Trích xuất các bản ghi có số hóa đơn ‘536365’ lưu vào file OnlineRetail.html

In [52]:
df4 = df.loc[df.InvoiceNo == '536365']
df4

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom

In [ ]:
df4 = df.to_html('OnlineRetail.html')